RESULT_OUTPUT_FOLDER_PATH=/Users/seodongju/git/iFogSim/results
RESULT_OUTPUT_APP_NAME=multiapps
NUMBER_OF_EDGE=10
USING_FILE_RESULT=1
NUMBER_OF_APP=10
RATIO=1,0,0,0
LOG=0
CLASS1_TRIGGER_TIME(S)=500
CLASS2_TRIGGER_TIME(S)=100
CLASS3_TRIGGER_TIME(S)=300
CLASS4_TRIGGER_TIME(S)=400
SENSOR_TO_EDGE_LATENCY(S)=0.002
EDGE_TO_FOG_LATENCY(S)=0.01
FOG_TO_CLOUD_LATENCY(S)=0.15
PROCESSING=0
CLASS_NUM=1
SINGLE_APP=1
CLOUD_NETWORK=0
PACKET_LOSS=10
MAX_SIMULATION_TIME=2000
USING_RES_MAP=0
RUNNING_REGION=10,0,0
USING_PACKET_LOSS_SIMULATION=1